.input
  width 220px
  font-size 1.2em
  padding .5em
  font-family 'Conv_Proxima Nova Regular'
  border none
  outline none
  color black
  resize none
  border 4px solid black
  &:focus
    color black

.makenorm
  border-top 0
