.redBg {
    background-color: red;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.socailB {
  margin: 5px;
  font-size: 2em;
  color: blue;
}
