@import '../styles/button.styl'
@import '../styles/center.styl'
@import "../styles/border.styl"
@import "../styles/check.styl"
@import "./reset.css"


.bck
  margin-left 5%
  width 121px
  background url("../pic/bck.png") no-repeat center center
  background-size contain
.nxt
  width 108px
  background url("../pic/nxt.png") no-repeat center center
  background-size contain
  float right
  margin-right 5%
.input
  font-size 1.2em
  padding .5em
  font-family 'Conv_Proxima Nova Regular'
  border none
  outline none
  color black
  resize none
  border 4px solid black
  width 10px
  &:focus
    color black
.wanna
  @extend .button
  position absolute
  bottom 0
  left 0
  width 100vw
  font-size 2em
  background black
  color white
  //line-height 60px
  text-align center
  font-family 'Conv_Proxima Nova Bold'

.checks
  position relative
  width 100%
  text-align center
  top 15vh
.bar
  position absolute
  top 0
  width 100%
  white-space nowrap
  div
    margin-top 20px
    display inline-block
    font-size 1.2em
    line-height 1.5em
    @extend .button
    text-align center
    cursor pointer
    font-family 'Conv_Proxima Nova Bold'
    height 50px
    @media (max-width: 350px)
      height 60px

.main
  display flex
  align-items center
  justify-content center
  flex-direction column
  height 100vh
  #plakot
    width 80%

.logo
  width 80%
  max-width 300px
  margin-bottom 40px
  position absolute
  top 20vh
  left 10%

.details
  position absolute
  top 20vh

.inblock
  display flex
  justify-content center
  position absolute
  top calc(50vh - 30px)
  height 60px
  width 100vw
  left 0
.buttn
  font-size 1.2em
  padding .5em
  color black
  text-align left
  text-decoration none

.logosmall
  position absolute
  top 10%
  left 10%
  width 30%

.input
  width 76vw
.bth
  @extend .button
  cursor pointer
  height 60px

.inputb
  position absolute
  bottom 0
  left 0
  font-size 2em
  padding .5em
  font-family 'Conv_Proxima Nova Regular'
  border none
  outline none
  color black
  resize none
  border 4px solid black
  width 100vw


.lbth
  transform scaleX(-1)
  filter FlipH
.small
  width 76vw
