@import '../styles/center.styl'


.list
  font-family 'Conv_Proxima Nova Bold'
  li
    width 100%
.order
  @extend .center

.lapa
  position absolute
  bottom 0
  left -50vw
  width 20px
  transform rotate(90deg)
.render
  width 200px
.shadow
  box-shadow 3px 3px 15px rgba(0,0,0,0.3)
.border
  margin 20px
.main
  @extend .center
  flex-direction row
  width 100%
  height 100%
  img
    width 210px
    height 300px
    margin 20px
    flex-shrink 0


.button
  width 280px
  font-size 1.2em
  padding .5em
  font-family 'Conv_Proxima Nova Bold'
  border none
  text-align center
  background white
  margin-top 1.2em
  cursor pointer


.input
  width 280px
  font-size 1.2em
  padding .5em
  font-family 'Conv_Proxima Nova Regular'
  border none
  outline none
  color black
  resize none
  border 4px solid black
  &:focus
    color black


.dop
  display flex
  width 280px
  font-size 1.2em
  margin 1em
.inpm
  position relative
  border-top none
.back
  position absolute
  font-size 3em
  top 5%
  right 5%
  cursor pointer

.round
  width 20px
  height 20px
  flex-shrink 0
  border 4px solid black
  margin-right .6em
  margin-top .6em
  margin-bottom .6em
