.shareblock
  display flex
  flex-wrap wrap
  margin-top 15px
.socail
  width 25px
  height 25px
  margin 5px
.over
  margin-top 15px
  outline none
  summary
    margin-top 25px
    outline none
    font-weight bold
    color black
    font-size .7em
.fa
  width 25px
  height 25px
