@import './styles/center.styl'
@import './styles/input.styl'
@import './styles/border.styl'
@import './styles/check.styl'


.bck
  font-size 1.2em
  line-height 2.5em
  text-align center
  width 121px
  height 50px
  font-family 'Montserrat', sans-serif
  font-weight bold
  background url("./pic/bck.png") no-repeat center center
  background-size contain
  margin-right 10px
  flex-shrink 0
  user-select none
  -webkit-user-select none
.nxt
  font-size 1.2em
  line-height 2.5em
  text-align center
  width 108px
  height 50px
  font-family 'Montserrat', sans-serif
  font-weight bold
  background url("./pic/nxt.png") no-repeat center center
  background-size contain
  margin-left 15px
  flex-shrink 0
  user-select none
  -webkit-user-select none
.bottom
  width 280px
  margin-top 5vh
  margin-left 5vh
.navbar
  width 260px
  margin-top 20px
  position relative
  left -15px
  cursor pointer
  display flex
  height 50px
.lapa
  position absolute
  bottom 0
  right 10px
  height 300px
.close
  position absolute
  top 10px
  right 10px
  font-size 4.5em
  cursor pointer
.hamburger
  position absolute
  top 20px
  left 20px
  z-index 1000
  width 80px
  display none
  cursor pointer
  @media (orientation: portrait)
    display block
.afterlogo
  position relative
  top -4px
.plakot
  position relative
  width 63vh
  height 90vh
  flex-shrink 0
  left -2.5%
  box-shadow 3px 3px 15px rgba(0,0,0,0.3)
  @extends .center
  p,h1
    position relative
    top -25%
    width 80%
  p
    font-size 1.2em
  h1
    font-size 3em
.bth
  @extend .border
  font-size 1.2em
  padding .5em
  cursor pointer

.blur
  filter blur(20px)
.control
  height 100%
  margin 0
  text-align left
.action
  height 100vh
  margin 0
  text-align left
  display flex
  flex-direction column
  user-select none


.copen
  left 0px
  z-index 999
.cclose
  left -600px
.content
  width 100vw
  height 100vh
  @media (orientation: portrait)
    width 100%
.nav
  font-size 2em
  width 27px
  cursor pointer
.l
  height 50px
  margin-right 10px
  flex-shrink 0
.r
  height 50px
  margin-left 15px
  flex-shrink 0
.main
  display flex
  align-items center
  justify-content center
  flex-direction row
  height 100vh
  @media (orientation: portrait)
    h1
      font-size 2em
  .blue
    color blue
  p
   font-size 1.2em
  h1
   font-size 6em
   margin 0

.check
  width 12px
  height 12px
  background ghostwhite
  @extend .border
.stickdiv
  width 200px
  display flex
  margin-left 20px
.astick
  background black
.stick
  @extend .border
  width 40px
  height 5px
  margin-right 10px
.logo
  @extend .border
  padding 15%
  padding-top .6em
  padding-bottom 1em

.test
  font-size 2em
.shareblock
  display flex
  flex-wrap wrap
.share
  //margin-left 15px
  padding .5em
  width 200px
.result
 display flex
 align-items center
 justify-content space-around
 flex-direction row
 height 100vh
.img
 height 80%
 flex-shrink 1
 @media (orientation: portrait)
  flex-direction column
  height 100vh
  .bottom
    margin auto
    margin-top 1em
  .img
    margin-top 2em
    width 80%
    height auto
    flex-shrink 0
.bad
  background hotpink

.span
  text-decoration none
  padding .5em
  color black
  &:hover
    color purple

.wanna
  //@extend .border
  width 220px
  font-size 2em
  //position absolute
  margin 0
  margin-top 5vh
  margin-right 5vh
  font-size 1.2em
  padding .5em
  color black
  cursor pointer
  text-align center
  font-family 'Conv_Proxima Nova Bold'
  text-decoration none
  background white

.bot
  font-size 2em
  position relative
  top 10px

.bubl
  position absolute
  left 100px
  top 100px
  width 30px
