@font-face {
	font-family: 'Conv_Proxima Nova Bold';
	src: url('./fonts/Proxima Nova Bold.eot');
	src: local('☺'), url('./fonts/Proxima Nova Bold.woff') format('woff'), url('./fonts/Proxima Nova Bold.ttf') format('truetype'), url('./fonts/Proxima Nova Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Proxima Nova Regular';
	src: url('./fonts/Proxima Nova Regular.eot');
	src: local('☺'), url('./fonts/Proxima Nova Regular.woff') format('woff'), url('./fonts/Proxima Nova Regular.ttf') format('truetype'), url('./fonts/Proxima Nova Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	font-family: 'Conv_Proxima Nova Regular'; //'Montserrat', sans-serif;
}
li {
  list-style-type: none; /* Убираем маркеры */
	text-align: justify;
	width: 100%;
}
ul {
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
	padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
